//Color Scheme

$color-pri-dark-blue: #0F1F38;
$color-pri-taupe: #8E7970;
$color-pri-red-orange: #F55449;
$color-pri-oceanic: #1B4B5A;

$color-white: #fff;
$color-black: #000;
$color-grey-1: #777;
$color-grey-2: #DDD;