*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%;
} 

body {
	background-color: $color-pri-dark-blue;
	box-sizing: border-box; /* makes width and height relate to complete Box instead of only to Content - So Padding is not added to width and height*/
}